.interactive-info-box {
  background: #fff;
  color: #151E30;
  padding: 2rem 1.5rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  width: 100%; /* Ocupa 100% da largura do contêiner pai */
  height: 100%; /* Ocupa 100% da altura do contêiner pai */
  flex-grow: 1; /* Adicionado para fazer o card esticar */
}

.interactive-info-box:hover {
  transform: perspective(1000px) rotateY(5deg) rotateX(2deg) scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15), 
              0 0 15px rgba(212, 175, 55, 0.7), /* Sombra neon dourada interna */
              0 0 25px rgba(212, 175, 55, 0.5); /* Sombra neon dourada externa */
}

.icon-container {
  margin-bottom: 0.5rem;
  color: #151E30; /* Cor inicial do ícone */
  transition: color 0.3s ease-out, filter 0.3s ease-out;
}

.interactive-info-box:hover .icon-container {
  color: #d4af37; /* Cor dourada no hover */
  filter: drop-shadow(0 0 8px rgba(212, 175, 55, 0.9)); /* Efeito neon no ícone */
}

.interactive-info-box h3 {
  font-size: 1.3rem;
  color: #151E30;
  margin-bottom: 0.3rem;
}

.interactive-info-box p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.5;
}
